bench_hash
bench_hash_malloc
bench_pq
bench_pq_malloc
*.txt
*.pdf
massif.out.*
*.sublime-*
*.o
debug*
sanitize_*
compare
compare_*
lib
*.h~
*.cpp~
*.hpp~
*Makefile~
core
vgcore.*
# Local configuration folder and symbol database
/.anjuta/
/.anjuta_sym_db.db

#Eclipse settings
.project
.cproject
.settings
