/tmp/
/document.synctex.gz*
/document-blx.bib
/document.aux
/document.bbl
/document.blg
/document.log
/document.run.xml

*.txss
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
